##---------------------------------------------------
## Remove autosaves, pdf files, and other folders
##---------------------------------------------------

# older auxiliary files
old/

# pdf files
*.pdf

# latex auxiliary files
*.aux
*.log
*.bbl
*.blg
*.out
*.acn
*.idx
*.ist
*.loe
*.lof
*.lot
*.ntn
*.toc
*.pdfsync
*.synctex.gz